
*

!.gitignore
!.gitattributes
!readme.md
!README.md
!LICENSE
!LICENSE.*

!frontend/
frontend/*
!frontend/index.html
!frontend/package.json
!frontend/package-lock.json
!frontend/vite.config.js
!frontend/src/
!frontend/src/**

!admin-frontend/
admin-frontend/*
!admin-frontend/index.html
!admin-frontend/package.json
!admin-frontend/package-lock.json
!admin-frontend/vite.config.js
!admin-frontend/src/
!admin-frontend/src/**

!backend/
backend/*
!backend/requirements.txt
!backend/app/
!backend/app/**

**/__pycache__/
**/*.py[cod]
**/*.test.*
**/test_*.py
**/*.log
